.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;

  margin: 0;
  padding: 0;

}
/******HEADER start******/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  overflow: hidden;

  background-color:  #f2f2f2;

  /*вертикальное выравнивание лучше ничего не придумала...*/
  line-height: 600px;
}

.header__square-pic {
  height: 568px;
  width: 568px;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 228px;
}
.header__title {
  margin: 0;
  padding-left: 64px;
  display: flex;
  max-width: 730px;

  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 3;

 /*вертикальное выравнивание лучше ничего не придумала...*/
  line-height: normal;
  display: inline-block;
  vertical-align: middle;

}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;

  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: 2;
}
.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 1;

}

/******HEADER end******/

/******content start******/

/******description start******/

.description {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
}
.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
}
.two-columns__main-text {
  gap: 30px;
  min-width: 784px;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 0;
}
.two-columns__span-accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}


/******description end******/

/******digits start******/
.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}
.section-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;

  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;

}
.section-subtitle {
  width: 60%;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;

  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}
.table {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.table__cell {
  padding-top: 60px;
  width: 250px;
}
.table__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}
.table__text {
  padding-top: 20px;

  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

/******digits end******/

/******feynman start******/

.feynman {
  height: 890px;
  background-color:  #f2f2f2;
  background-position: left bottom;
  position: relative;
  z-index: 1;
}
.feynman__title {
  padding-top: 100px;
  width: 648px;
  z-index: 2;
  margin: 0 auto;
  text-align: center;

  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;

}
.feynman__subtitle {
  z-index: 2;
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;

  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}
.feynman__link {
  color: #2f80ed;
  right: 48px;
  position: absolute;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  cursor: pointer;
  z-index: 2;
}
.feynman__pic {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

/******feynman end******/

/******kaufman start******/
.kaufman {
  background-color: #1f1f1f;
  position: relative;
  color: white;
  overflow: hidden;
  z-index: -10;


}
.section-title_theme_dark {
  padding-top: 90px;
  width: 60%;
  margin: 0 auto;
  text-align: center;

  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;


}
.section-subtitle_theme_dark {
  padding-top: 20px;
  width: 60%;
  margin: 0 auto;
  text-align: center;

  font-size: 24px;
  font-weight: normal;
  line-height: 34px;

}
.table {

}
.table_theme_dark {
  color: white;
  /*width: 70%;*/

  flex-wrap: wrap;
 /* justify-content: space-around;*/
  padding-bottom: 90px;
  z-index: 1;
}
.table__cell {

}
.table__cell_theme_dark {
  margin-right: 0;
  margin-top: 20px;
  width: 200px;
  color: white;

}
.table__heading {

}
.table__heading_theme_dark {
  /*font-size: 24px;
  font-weight: 600;
  line-height: 1.15;*/
  color: white;
}
.table__text {

}
.table__text_theme_dark {
  /*padding-top: 20px;

  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;*/
  color: white;

}
.kaufman__triangle {
  position: absolute;
  top: 0;
  z-index: -1;
  right: -320px;
  width: 877px;
  height: 877px;
  /*треугольник не получилось поставить по другому*/

}
/******kaufman end******/
/******content end******/

/******footer start******/
.footer {
  height: 350px;
  background-color:  #1f1f1f;
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0 auto;
  color: white;
  display: flex;
}
.footer__columns {
  display: flex;
  /*flex-basis: 711px;*/
  width: 90%;
  margin: auto;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__columns_content_copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 120px;
  margin-right: 600px;
}
.logo_place_footer {
  height: 32px;
  width: 228px;
}
.footer__author {
  padding-bottom: 18px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.footer__columns_content_info {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  align-items: flex-start;
}
.footer__column-heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 0;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.footer__column-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}
.footer__columns_content_social {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  align-items: flex-start;
}
.footer__social-icon {
  padding-right: 10px;
}
/******footer end******/




